<html>
  <head>
    <title>heatwave</title>
    <link rel="stylesheet" href="/player.css">
    <style type="text/css">
      body {
        background-color: white;
      }
      
      .heat {
        border-width: 0px;
      }
      
      .label {
        display: none;
      }
    </style>
    <script type="text/javascript" src="/player.js"></script>
  </head>
  <body>
    <div id="player"></div>
  </body>
</html>
