<html>
  <head>
    <title>heatwave</title>

    <link rel="stylesheet" href="/index.css">

  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <img src="/img/logo.png">
      </div>
      <div id="body">
        <div id="examples">
          <div class="whatsthis">
            Try these examples!
          </div>
          <div id="example0" class="example">
            <textarea><%= examples[0] %></textarea> 
            <div class="run"><a href="/id/example0">run!</a></div>
          </div>
          <div id="example1" class="example">
            <textarea><%= examples[1] %></textarea> 
            <div class="run"><a href="/id/example1">run!</a></div>
          </div>
          <div id="example2" class="example">
            <textarea><%= examples[2] %></textarea>
            <div class="run"><a href="/id/example2">run!</a></div>
          </div>
        </div>

        <div class="or"></div>

        <div id="upload">
          <div class="whatsthis">
            Upload your own code!
          </div>
          <form method="post" action="/upload">
            <input type="file" name="file">
            <input type="submit" value="upload!">
          </form>
        </div>

        <div class="or"></div>

        <div id="curl">
          <div class="whatsthis">
            Use <code>curl</code> Unix utility to upload code!
          </div>
          <div>
            <p>Single file:
            <pre>
              curl -sNT file.js heatwave.nodejitsu.com
            </pre>
            <p>Multiple files:
            <pre>
              curl -sNT "{file1.js,file2.js}" heatwave.nodejitsu.com
            </pre>
          </div>
        </div>
      </div>
      <div id="footer">
        <p>Code heatmaps by <a href="http://catonmat.net">Peteris Krumins</a>, <a href="http://substack.net">James Halliday</a>, <a href="http://rook2pawn.com">David Wee</a>, <a href="http://jesusabdullah.github.com/">Josh Holbrook</a>.

        <p>Vote for us at Node Knockout: TODO link to upvote
      </div>
    </div>
  </body>
</html>

