<html>
  <head>
    <title>heatwave</title>
    <link rel="stylesheet" href="/index.css">
    <script type="text/javascript" src="/index.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <img src="/img/logo.png">
      </div>
      <div id="body">
        <div id="examples">
          <div class="whatsthis">
            Try this example!
          </div>
          <div id="example0" class="example">
            <textarea id="source"><%= examples[2] %></textarea> 
            <div>
              <input type="button" id="run" class="run" value="run">
            </div>
          </div>
        </div>
        
        <div class="or"><img src="/img/or.png"></div>
        
        <div id="upload">
          <div class="whatsthis">
            Upload your own code!
          </div>
          <form method="post"  enctype="multipart/form-data" action="/upload">
            <input type="file" name="file">
            <input type="submit" value="upload!">
          </form>
        </div>

        <div class="or"><img src="/img/or.png"></div>

        <div id="curl">
          <div class="whatsthis">
            Use the <code>curl</code> command to upload code!
          </div>
          <div>
            <p>
                Single file:
                <pre>curl -sNT file.js <%= host %></pre>
            </p>
            <p>
                Multiple files:
                <pre>curl -sNT "{file1.js,file2.js}" <%= host %></pre>
            </p>
          </div>
        </div>
      </div>
      <div id="footer">
        <p>
            <a href="http://catonmat.net">Peteris Krumins</a>,
            <a href="http://substack.net">James Halliday</a>,
            <a href="http://rook2pawn.com">David Wee</a>,
            <a href="http://jesusabdullah.github.com/">Josh Holbrook</a>.
        </p>
        <p>
            <a href="http://nodeknockout.com/teams/replicants"><img src="/img/nko.png" title="VOTE FOR US!"></a>
        </p>
      </div>
    </div>
  </body>
</html>

