<html>
  <head>
    <title>heatwave</title>
    <link rel="stylesheet" href="/player.css">
    <script type="text/javascript" src="/player.js"></script>
  </head>
  <body>
    <h1><%= id %></h1>
    <div id="player"></div>
  </body>
</html>
