<html>
  <head>
    <title>heatwave</title>
    <script type="text/javascript" src="/player.js"></script>
  </head>
  <body>
    <h1>id={<%= id %>}</h1>
    <div id="hello"></div>
    <pre><%= source %></pre>
  </body>
</html>
