<html>
  <head>
    <title>heatwave</title>
    <link rel="stylesheet" href="/player.css">
    <script type="text/javascript" src="/player.js"></script>
  </head>
  <body>
    <h1>Test ID: <a href="/id/<%=id%>"><%= id %></a></h1>
    <div id="control">
        <a
            href="#"
            onclick="
                window.location.href = window.location.href;
                return false
            "
        >replay</a>
    </div>
    <div id="player"></div>
  </body>
</html>
