<html>
  <head>
    <title>heatwave</title>
    <script type="text/javascript" src="/player.js"></script>
  </head>
  <body>
    <h1><%= id %></h1>
    <textarea id="source" cols=80 rows=10></textarea>
  </body>
</html>
