body {
  background-color: #353129;
}
#wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 50px;
}
#header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 800px;
  height: 200px;
  background-color: rgb(145,100,80);
}
#examples {
  overflow: hidden; /* important: so floated elements were overflown by container */
}
.example {
  float: left;
  width: 240px;
  margin-right: 25px;
  height: 200px;
}
#example0 {
  margin-left: 12px;
}
#example2 {
  margin-right: 0; /* last example, no margin needed */
}
#examples textarea {
  background-color: #353129;
  color: white;
  width: 240px;
  height: 180px;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
}
.run {
  text-align: center;
}
.or {
  height: 30px;
  background: url('/img/or.png'); /* logo is 800x30px */
}
#examples, #upload, #curl {
  margin: 20px 0;
}
.whatsthis {
  margin: 0 0 20px;
  color: navy;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
#footer {
  height: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(145,100,80);
  color: white;
  width: 800px;
  padding-bottom: 15px;
  padding-top: 1px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#footer a:visited {
  color: rgb(200,150,255);
}
#footer a:link {
  color: rgb(150,150,255);
}
#curl div p {
  margin-left: 100px;
}
#curl div pre {
  background-color: rgb(220,230,245);
  padding: 10px;
  margin-left: 130px;
  margin-right: 100px;
}
