body {
    background: #353129;
    color: #eee;
}

.file {
    position: relative;
}

.source {
    position: absolute;
    top: 2px;
    left: 2px;
    font-family: monospace;
    font-size: 16px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    color: #eee;
    z-index: 1;
    padding: 10px;
}

.heat {
    border-color: #eee;
    border-width: 4px;
    border-style: solid;
    padding: 10px;
}
