.file {
    position: relative;
    margin-bottom: 20px;
}

.label {
    width: 800px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.label .filename {
    float: left;
}

.label .lineNum {
    float: right;
    margin-right: 20px;
}

.source {
    position: absolute;
    top: 2px;
    left: 2px;
    font-family: monospace;
    font-size: 16px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    color: #eee;
    z-index: 1;
    padding: 10px;
}

.heat {
    border-width: 4px;
    border-style: solid;
    border-radius: 20px;
    border-color: #aaa;
    background-color: rgb(40,35,30);
    padding: 10px;
}

.active {
    border-color: #eee;
    background-color: rgb(20,15,10);
}

#control {
    margin-left: 30px;
    margin-bottom: 10px;
}

a:visited, a:link {
    color: red;
}

